/target
/database
/data
/database-media
/tmp_databases
/tmp_data

server_config.toml
server_config_bots.toml
server_config_dynamic.toml
server_config_profile_attributes.toml
server_config_email_content.toml
simple_backend_config.toml
manager_config.toml

.vscode
.idea
.DS_STORE
