name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    name: Release ${{ matrix.target }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runs-on: ubuntu-22.04
          - target: aarch64-unknown-linux-gnu
            runs-on: ubuntu-22.04-arm
    steps:
      - name: Install PostgreSQL library
        run: |
          sudo apt-get update
          sudo apt-get install -y libpq-dev
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Build binary
        run: |
          cargo build --release
      - name: Create release assets
        run: |
          BINARY=afrodite-backend
          NAME="$BINARY-${{ github.ref_name }}-${{ matrix.target }}"
          ASSET="$NAME.tar.gz"
          mkdir target/assets
          cd target/assets
          mkdir "$NAME"
          mv "../release/$BINARY" "$NAME"
          tar --owner=0 --group=0 -czf "$ASSET" "$NAME"
      - name: Upload assets
        uses: softprops/action-gh-release@v2.2.1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          fail_on_unmatched_files: true
          files: |
            target/assets/*.tar.gz
